{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="img-fluid" alt="{{ product.name }}">
        </div>
        <div class="col-md-6">
            <h1 class="mt-3">{{ product.name }}</h1>
            <span class="text-muted font-weight-light">{{ product.art }}</span>
            <h2 class="mt-3">
                <a href="{{ product.category.get_absolute_url }}" class="text-decoration-none text-dark">{{ product.category }}</a>
            </h2>
            <span class="text-danger font-weight-bold h5">{{ product.price }} руб</span>
            <form action="{% url "cart:cart_add" product.id %}" method="post" class="mt-4">
                {{ cart_product_form }}
                {% csrf_token %}
                <button type="submit" value="Add to cart" class="btn btn-outline-secondary btn-lg">Заказать</button>
            </form>
            <p>
                {% for t in types %}
                    <span class="badge">{{ t }},</span>
                {% endfor %}
            </p>
            <b>Энергетическая ценность на 100г. продукта</b>
            <p>{{ product.characteristics|linebreaksbr }}</p>
            <p><em>Вес: {{ product.weight }}</em></p>
        </div>
    </div>

    {% if recommended_products %}
        <div class="recommendations mt-5">
            <h3 class="font-weight-bold">Также рекомендуем:</h3>
            <div class="row">
                {% for product in recommended_products %}
                <div class="col-md-3 p-5 border" style="position: relative; display: flex; flex-direction: column; align-items: center; text-align: center;">
                    <a href="{{ product.get_absolute_url }}">
                        <img style="height: 130px"src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" class="rounded" style="width: 250px">
                        <a href="{{ product.get_absolute_url }}" style="text-decoration: none;">
                            <span style="color: #4b4748; font-size: 17px; font-weight: 300;">{{ product.name }}</span>
                        </a>
                        <span style="color: red; font-size: 18px; font-weight: 500;">{{ product.price }}руб</span>
                        <div style="margin-top: auto; display: flex">
                            <button type="button" class="btn btn-outline-danger" onclick="addToCart({{ product.id }})"><span style="font-size: 16px; font-weight: 600;">Заказать</span></button>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}