{% extends "shop/base.html" %}
{% load static %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-weight-bold">О нас</h2>
        <p class="lead">СушиЛавка - это служба доставки суши, роллов и другой вкусной еды в Новосибирске. Мы работаем с 2022 года и знаем, как порадовать наших клиентов свежей и вкусной едой.</p>
        <h3 class="font-weight-bold">Наша миссия</h3>
        <p class="lead">Наша миссия - делать людей счастливее с помощью качественной и доступной еды. Мы хотим, чтобы каждый заказ был не просто перекусом, а приятным событием в вашем дне.</p>
        <h3 class="font-weight-bold">Наши преимущества</h3>
        <ul>
          <li>Мы используем только свежие и сертифицированные продукты, не храним полуфабрикаты и не добавляем усилители вкуса.</li>
          <li>Мы готовим все блюда по оригинальным рецептам нашего шеф-повара, который постоянно совершенствует ассортимент и сочетания ингредиентов.</li>
          <li>Мы имеем профессиональную команду поваров, которые любят свою работу и умеют делать роллы и суши в лучших традициях японской кухни.</li>
          <li>Мы предлагаем вам разнообразное меню, в котором вы найдете не только роллы и суши, но и закуски, десерты и напитки.</li>
          <li>Мы устраиваем акции и скидки для наших постоянных и новых клиентов, а также дарим подарки и бонусы.</li>
        </ul>
        <h3 class="font-weight-bold">Наш контакт</h3>
        <p class="lead">Вы можете заказать еду на нашем сайте СушиЛавка, по телефону <a href="tel:+79137894444">8-913-789-44-44</a></p>
        <p class="font-italic">Спасибо, что выбрали СушиЛавку! Приятного аппетита!</p>
      </div>
    </div>
  </div>
{% endblock %}